[alias]
    br = branch
    ci = commit
    co = checkout
    dc = diff --cached
    di = diff
    last = log -1 HEAD -p
    pl = pull --rebase
    pu = push
    re = rebase
    st = status
    lg = "log --graph --pretty=format:'%C(auto)%h%C(auto,reset) -%C(auto)%d%C(auto,reset) %s %C(green)(%cr)%C(auto,reset) %C(blue)<%an>%C(auto,reset)'"
[color]
	ui = auto
[commit]
	template = ~/.commit-template
[help]
    autocorrect = 1
[push]
    default = simple
[user]
	email = de.meyer.maarten@gmail.com
	name = Maarten De Meyer
[color "diff"]
	func = cyan bold
	commit = blue bold
	frag = blue
	old = red bold
	new = green bold
	whitespace = red reverse bold
[color "branch"]
	current = cyan bold
	remote = yellow
[color "interactive"]
	prompt = yellow bold
	header = blue
	help = cyan
	error = red bold
[color "status"]
	author = green
	changed = blue
	untracked = yellow
	branch = cyan bold
	added = green
	localBranch = blue bold
	remoteBranch = yellow
	unmerged = red bold
[color "decorate"]
	branch = cyan bold
	remoteBranch = yellow
	tag = yellow bold
	stash = red
	HEAD = cyan
[pager]
    branch = false
